@{
    ViewBag.Title = "MixerHy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="containner grid wide">
        <div class="containner-inner row" style="background-image: url(@Url.Content("~/asset/img/mixer_hy.png"));">

        </div>
    </div>
</main>

