
@{
    ViewBag.Title = "iguacu";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main>
    <div class="containner grid wide">
        <div class="containner-inner row" style="background-image: url(@Url.Content("~/asset/img/iguacu.png"));">
        </div>
    </div>
</main>

