
@{
    ViewBag.Title = "lgds_sogec";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<main>
        <div class="containner grid wide">
            <div class="containner-inner row" style="background-image: url(@Url.Content("~/asset/img/lgds.png"));">
            </div>
        </div>
</main>