@{
    ViewBag.Title = "PruCngPm3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="containner grid wide">
        <div class="containner-inner row" style="background-image: url(@Url.Content("~/asset/img/pru_pm3.png"));">
        </div>
    </div>
</main>

